.container {
  margin-top: -80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 30vw;
  height: 30vh;
}

.container-cards {
  width: 100% !important;
  margin: 0 !important;
}

@media (min-width: 2500px) {
  .container-cards {
    max-width: 2500px;
    margin: auto !important;
  }
}
